<p class="navbar navbar-light" style="background-color: lightsteelblue">Stock View</p>
&nbsp;&nbsp;
<input type="button" class="btn btn-primary btn-sm btn-rng" [ngClass]="{ 'btn-active':this.rg === 36 }" value="3 yr" (click)="updateData(36)" />
<input type="button" class="btn btn-primary btn-sm btn-rng" [ngClass]="{ 'btn-active':this.rg === 12 }" value="1 yr" (click)="updateData(12)" />
<input type="button" class="btn btn-primary btn-sm btn-rng" [ngClass]="{ 'btn-active':this.rg === 6 }" value="6 mo" (click)="updateData(6)" />
<input type="button" class="btn btn-primary btn-sm btn-rng" [ngClass]="{ 'btn-active':this.rg === 1 }" value="1 mo" (click)="updateData(1)" />
